@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

body{
    background-color: black;
}

.content_box{
    width: 200px;
    margin: 50px auto;
    text-align: center;
    color: white;
}

.cover_img{
    position: absolute;
    max-width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;

    filter: brightness(40%);
}

.content_box .title{
    margin: 0 auto;
    font-size: 40px;
    width: max-content;
    font-family: "Montserrat", sans-serif;
}

.content_box .list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content_box .list .list_item{
    display: block;
    padding: 20px;
    margin: 16px;
}

.content_box .list .list_item a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.content_box .list .list_item a:hover{
    padding: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
}

/* dish */

.container .dish_title{
    font: 50px "Dancing Script", cursive;
    margin: 16px 0;
    color: rgb(241, 79, 39);
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 80px;
    background-color: white;
}

.container .image{
    width: 800px;
    height: auto;
    margin: 20px 0;
    border-radius: 26px;
    transition: transform 0.3s ease;
}

.container .image:hover{
    transform: scale(1.05);
}

.container .paragraph{
    font: 26px "Montserrat", sans-serif;
    width: 800px;
    text-align: justify;
    margin: 10px 0;
}

.container .dish_list .paragraph::marker{
    color: rgba(255, 136, 0, 0.814);
}

.container ol{
    list-style-type: none;
}

.container .Description{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container .home{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 4px solid transparent;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: rgb(245, 92, 75);
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
    font-size: 20px;
}

.container .home:hover{
    background-color: transparent;
    border: 4px solid rgb(245, 92, 75);
    color: black;
}